.buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
    font-weight: 500;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;

    @include breakpoint("lg") {
        padding: 1.5rem;
        box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.06);
        background-color: color("supportLight1");
        position: fixed;
        inset: auto 0 0;
    }
    &__prev,
    &__next {
        padding: 1.2rem 2rem;
        cursor: pointer;
    }
    &__prev {
        @include state((
            default: (
                color: color("supportLight5"),
            ),
            hover: (
                color: color("primaryDark1"),
            ),
            active: (
                color: color("primary"),
            ),
        ));
    }
    &__next {
        margin-left: auto;
        border-radius: $borderRadius;

        @include state((
            default: (
                color: color("supportLight1"),
                background-color: color("primaryDark1"),
            ),
            hover: (
                background-color: color("primaryDark2"),
            ),
            active: (
                background-color: color("primary"),
            ),
        ));

        &.--confirm {
            background-color: color("primary");
            @include state((
                default: 1,
                hover: 0.65,
                active: 0.45
            ), opacity);
        }
    }
}