.finished {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include transition("global", opacity, transform);
    animation: animation 300ms ease-in-out;

    @include breakpoint("lg") {
        @include card;
        padding: 8rem 2rem;
    }

    &__icon {
        @include center;
        margin-bottom: 3rem;

        @include breakpoint("sm") {
            margin-bottom: 2rem;
            svg {
                width: 65px;
                height: auto;
            }
        }
    }
    &__title {
        margin-bottom: 1.2rem;
    }
    &__desc {
        max-width: 450px;
    }
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translate3D(15px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}