.infos {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;


    &__info {
        font-size: fontSize("bodySm");
        line-height: 1.4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3rem;
        margin-bottom: 0.4rem;
    }
    &__label {
        color: color("primaryDark1");
        font-weight: 400;
        white-space: nowrap;
        @include breakpoint("sm") {
            font-size: fontSize("small");
        }
    }
    &__error {
        font-weight: 600;
        color: color("secondary");
        text-align: right;
    }
    &__input {
        width: 100%;
        display: block;
        padding: 1.2rem 1.5rem;
        border-radius: $borderRadius;
        font-weight: 400;

        @include state((
            default: (
                color: color("primaryDark1"),
                border: 1px solid color("supportLight4"),
            ),
            hover: (
                color: color("primaryDark1"),
                border-color: color("primaryDark1"),
            ),
            focus: (
                color: color("primaryDark1"),
                border-color: color("primaryDark1"),
            ),
        ));

        @include breakpoint("sm") {
            border-radius: calc($borderRadius / 2);
        }

        &::placeholder {
            color: color("supportLight5");

            @include breakpoint("sm") {
                font-size: fontSize("bodyMd");
            }
        }
        &:placeholder-shown {
            text-overflow: ellipsis;
        }
        &.--error {
            border-color: color("secondary");
        }
    }
}
