.plan {
    &__list {
        display: flex;
        column-gap: 2rem;
        margin-bottom: 2rem;
        @include breakpoint("md") {
            flex-direction: column;
            row-gap: 1rem;
        }
    }
    &__item {
        flex: 1 0 140px;
        @include breakpoint("md") {
            width: 100%;
            flex: initial;
        }
    }
    &__input {
        @include hideInput;
    }
    &__input.--checked + &__label {
        @include labelActive;
    }
    &__label {
        @include label;
        @include breakpoint("md") {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: start;
            align-items: center;
            column-gap: 1.5rem;
        }
    }
    &__icon,
    &__name,
    &__price,
    &__month {
        display: block;
    }
    &__icon {
        margin-bottom: 4rem;

        @include breakpoint("md") {
            margin-bottom: 0;
            grid-row: 1 / 3;
        }
    }
    &__name {
        font-weight: 500;
        color: color("primaryDark1");

    }
    &__price {
        font-size: fontSize("bodySm");

        @include breakpoint("md") {
            grid-column: 2;
        }
    }
    &__month {
        color: color("primaryDark1");
        font-size: fontSize("small");
        font-weight: 400;
        margin-top: 0.2rem;
        @include breakpoint("md") {
            grid-column: 2;
        }
    }
    &__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 2.5rem;
        padding: 1.5rem 4rem;
        background-color: color("supportLight3");
        border-radius: $borderRadius;
        font-weight: 400;

        @include breakpoint("sm") {
            column-gap: 1.5rem;
            padding: 1.5rem 2.5rem;
        }

        > span.--active {
            color: color("primaryDark1");
            font-weight: 500;
        }

        &__btn {
            $height: 20px;
            display: block;
            width: 40px;
            height: $height;
            border-radius: 20px;
            background-color: color("primaryDark1");
            cursor: pointer;
            position: relative;
            input {
                @include hideInput;
            }
            input.--checked + span {
                transform: translate3D(20px, 0, 0);
            }
            span {    
                position: absolute;
                top: 4px;
                left: 4px;
                display: inline-block;
                width: calc($height - 8px);
                height: calc($height - 8px);
                border-radius: 50%;
                background-color: color("supportLight1");
                @include transition("button", transform);
            }
        }
    }
}